<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/api/user/details" method="get">
      <input type="submit" name="details" value="get user info!!">
    </form>
    <form class="" action="/api/auth/logout" method="get">
      <input type="submit" name="logout" value="logout">
    </form>
  </body>
</html>
